body {
  font-family: 'Pangolin', cursive;
  font-size: 22px;
  text-align: center;
}

footer {
  color: #0e0004;
  font-size: 14px;
  margin: 20px;
}

.active {
  color: #610345;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.daily {
  color: #fff;
}

.col-6 {
  padding: 0;
  margin: 0;
}

.time {
  color: #2274a5;
  margin: 2px;
}

.form-control {
  font-size: 22px;
}

.hourly, .search-form {
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  border: 10px;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
}

.temperature {
  color: #610345;
  font-size: 48px;
}

#celsius-link, #fahrenheit-link, #bar {
  font-size: 32px;
  position: relative;
  top: -10px;
}

#container {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  width: 950px;
}

#location, #search, #user-location {
  color: #b91372;
}

#right-side {
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  border: 0px;
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
}