body {
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

footer {
  color: #0e0004;
  font-size: 14px;
  margin: 20px;
}

.active {
  color: #3a0ca3;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.dateTime {
  color: #3f86bc;
}

.form-control {
  font-size: 20px;
}

.hourly {
  color: #fff;
}

.hourly, .middle, .search-form {
  border: 10px;
  margin: 20px;
  padding: 10px;
}

.hourly, .search-form {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  border-radius: 20px;
}

.temperature {
  color: #3a0ca3;
  font-size: 52px;
  line-height: 1;
}

#bar, #celsius-link, #fahrenheit-link {
  font-size: 28px;
  position: relative;
  top: -15px;
}

#container {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  width: 950px;
}

#current-icon {
  height: 75px;
  width: 75px;
}

#current-location, #search, #user-location {
  color: #b91372;
}

#daily-conditions, #daily-temperatures {
  color: #2a9d8f;
}

#forecast-hours {
  color: #3a0ca3;
}

#location {
  color: #b91372;
  font-size: 32px;
}

#temp-max {
  color: #0e0004;
}