body {
  font-family: 'Pangolin', cursive;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

footer {
  color: #0e0004;
  font-size: 14px;
  margin: 20px;
}

.active {
  color: #610345;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.col-6 {
  padding: 0;
  margin: 0;
}

#daily, .hourly {
  color: #fff;
}

.form-control {
  font-size: 22px;
}

.hourly, .search-form {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border-radius: 20px;
  border: 10px;
  margin: 20px;
  padding: 30px;
}

.temperature {
  color: #610345;
  font-size: 52px;
  line-height: 1;
}

.time {
  color: #2274a5;
}

#bar, #celsius-link, #fahrenheit-link {
  font-size: 32px;
  position: relative;
  top: -10px;
}

#container {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  width: 950px;
}

#current-icon {
  height: 75px;
  width: 75px;
}

#current-location, #location, #search, #user-location {
  color: #b91372;
}

#daily {
  color: #3c096c;
}

#forecast-hours {
  color: #610345;
}

#location {
  font-size: 32px;
}

#right-side {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#temp-max {
  color: #0e0004;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }